<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"

      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        p{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        div{
            text-align: center;
        }
    </style>
    <title>Sikeres bejelentkezés</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Name</th>
            <th>Puvlisher</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody id="data"></tbody>
</table>
<script>
    fetch("http://localhost:8080/book/all").then(
        res=>{
            res.json().then(
                data=>{
                    console.log(data);
                    if(data.length>0){
                        var  temp ="";
                        data.forEach((u)=>{
                            temp +="<tr>";
                            temp +="<td>"+u.id+"</td>"
                            temp +="<td>"+u.owner+"</td>"
                            temp +="<td>"+u.name+"</td>"
                            temp +="<td>"+u.publisher+"</td>"
                            temp +="<td>"+u.isbn+"</td></tr>"
                        })
                        document.getElementById("data").innerHTML =temp;
                    }
                }
            )
        }
    )

</script>
</body>
</html>