<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        p {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Registration</h1>
    <p>
    <input id="name" placeholder="Your Username" type="text">
    <p>
    <input id="email" placeholder="Email" type="email">
    <p>
    <input id="password" placeholder="Your password" type="password">
    <p>
    <input id="Fname" placeholder="First name" type="text">
    <p>
    <input id="Lname" placeholder="Last name" type="text">
    <p>
    <button onclick="sendJSON()">Registration</button>
    <p class="result" style="color:green"></p>
    </p>
</body>
<script>
    function sendJSON() {
        let result = document.querySelector('.result');
        let name = document.querySelector('#name');
        let email = document.querySelector('#email');
        let password = document.querySelector('#password');
        let Fname = document.querySelector('#Fname');
        let Lname = document.querySelector('#Lname');
        let xhr = new XMLHttpRequest();
        let url = "/rega";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
            }
        };
        var data = JSON.stringify({
            "username": name,
            "password": password,
            "email": email,
            "fname": Fname,
            "lname": Lname
        });
        xhr.send(data);
    }
</script>
</html>


